/*main*/
.s{
    &__acordion{
        margin: 30px;
        &__button{
            color: $salmon;
            font-weight: 600;
        }
    }
    &__bg__transparent{
        background-color: transparent;
        @include espacios;
    }
    &__subtitulo{
        color: $blanco;
        @include peso(300, 20px);
        padding-bottom: 30px;
    }
    &__calltoaction{
        padding-bottom: 80px;
    }
    &__btn1__color{
        background-color: $blanco;
        &:hover {
            border-color: #ffffff !important;
            color: $blanco;
        }
    }
    &__btn2__color{
        @include background;
        &:hover {
            border-color: #a9a9a9 !important;
            color: #a9a9a9;
        }
    }
    &__btn3__color{
        background-color: $salmon;
        color: $blanco;
        &:hover {
            border-color: #FA8072 !important;
            color: $salmon;
        }
    }
    
}

.accordion-button:not(.collapsed) {
    color: $blanco;
    background-color: $salmon;
    box-shadow: none !important;
}

.rectangle{
    &__main{
        @include background;
        @include espacios;
        &__2{
            background-color: $blanco;
            @include espacios;
        }
    }

}

.img__main{
    width: 1100px;
    height: 300px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.sections__main {
    display: flex;
    justify-content: space-around;
}

.titulo{
    &__main{
        font-family: $subtitulo-principal;
        color: $negro;
        padding-left: 30px;
        padding-top: 80px;
        font-size: map-get($map: $titulos, $key: principal);
        &__2{
            font-family: $subtitulo-principal;
            color: $negro;
            padding-left: 80px;
            padding-top: 80px;
            font-size: map-get($map: $titulos, $key: principal);
        }
    }
    &__principal{
        font-family: $subtitulo-principal;
        color: $blanco;
        font-size: 58px;
        padding-top: 80px;
        &__h4{
            font-family: $subtitulo-principal;
            color: $negro;
            text-align: center;
            padding-bottom: 60px;
            padding-top: 60px;
            font-size: map-get($map: $titulos, $key: principal);
        }
        &__2{
            font-family: $subtitulo-principal;;
            color: $negro;
            font-size: map-get($map: $titulos, $key: principal);
            text-align: center;
            padding-top: 80px;
        }
        &__h3{
            font-family: $subtitulo-principal;
            color: $negro;
            font-size: map-get($map: $titulos, $key: principal);
            text-align: center;
            padding-top: 80px;
        
        }
    }
}



.parrafo{
    &__main{
        font-size: map-get($map: $titulos, $key: secundario);
        padding-bottom: 30px;
        text-align: justify;
        padding-left: 30px;
        padding-right: 80px;
        color: $negro;
        &__2{
            font-size: map-get($map: $titulos, $key: secundario);
            padding-bottom: 30px;
            text-align: justify;
            padding-left: 80px;
            padding-right: 80px;
            color: $negro;
        }
    }
    &__section{
        font-size: map-get($map: $titulos, $key: secundario);
        padding-bottom: 30px;
        text-align: center;
    }
}


.acordeon__padding {
    padding-bottom: 60px;
}



.card{
    background-color: $blanco;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #00000033;
    &__tittle{
        @include peso(700, 22px)
    }
    &__text{
        font-size: map-get($map: $titulos, $key: terciario);
    }
}

.row{
    margin-left: 70px;
    padding-bottom: 80px;
}
